<!DOCTYPE html>
<html>
<head>
    <title>Shabbs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    {% if first %}
        <div id = "divClose">
            <div id = "frontSide">
                Older than 17?

                <span id = "frontYes" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>
                    ___
                </span>
                <a class = "closeA" id = "frontNo" href = "https://twitter.com/iamshabbs15">
                    ___
                </a> 
            </div>
        </div>
    {% endif %}

    <nav>
        <ul>
            <li> <a href={{  url_for("home")  }}>home</a></li>
            <li> <a href={{  url_for("login")  }}>login</a></li>
            <li> <a href={{  url_for("wall")  }}>wall</a></li>
            <li> <a href={{  url_for("ip")  }}>tracking</a></li>
            <li> <a href={{  url_for("wall")  }}>blog (wip)</a></li>

        </ul>
    </nav>
    
    <div id = "main">

    {% block title %}{% endblock %}

    {% extends "flash.html" %}

    {% block rest %} 
            {% block content %} {% endblock %}
        </div>
    {% endblock %}
    
</body>
</html>