{% extends "layout.html" %}

{% block content %}
<div id = "wall">

<form method="post">
    <p>Leave a message in the wall, be nice :)</p>
    <textarea name="post" rows="7"></textarea>
    <input type="submit" name="submit" id="submitPost">
</form>


{% for post in posts %}
    <div id="wallPost">
        <p>By {{post[2]}} on {{post[3]}}<br> 
        <div id="wallMessage">    
            {{post[1]}}</p>
        </div>
    </div>
{% endfor %}

<br>
<a href = {{  url_for("logout")  }}>logout</p>

</div>
{% endblock %}